* {
  margin: 0;
  padding: 0;
  outline: none;
}

@-webkit-keyframes myAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  10% {
    margin-left: 10px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes myAnim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  10% {
    margin-left: 10px;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.top {
  background-color: #000;
  height: 75px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.win_search {
  position: absolute;
  top: 3%;
  left: 20%;
}

.nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.pic_header:hover {
  -webkit-filter: invert(53%) sepia(46%) saturate(679%) hue-rotate(304deg) brightness(96%) contrast(96%);
          filter: invert(53%) sepia(46%) saturate(679%) hue-rotate(304deg) brightness(96%) contrast(96%);
}

summary {
  display: block;
}

/* 
summary::-webkit-details-marker {
    display: none;
}

details {
    position: relative;
    list-style-type: none;
}

details[open]>summary::after {
    content: '\25BC';
} */
.box_menu {
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 242px;
  padding: 20px;
  top: 51px;
}

.headding_menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 17px;
  margin-left: 14px;
  margin-bottom: 4px;
}

.item_menu {
  margin-top: 20px;
  margin-left: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headding_menu_color {
  color: #F16D7F;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.text_menu {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  margin-bottom: 11px;
}

.text_menu:hover {
  color: #F16D7F;
}

.text_menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header_content {
  background-color: #F1E4E6;
  min-height: 764px;
}

.content_header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.figure {
  background-repeat: no-repeat;
  margin-left: -210px;
  width: 100%;
}

.info {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: myAnim 2s ease 0s infinite normal forwards;
          animation: myAnim 2s ease 0s infinite normal forwards;
}

.text_info {
  text-align: start;
  border-left: 12px solid #F16D7F;
  padding: 0 0 0 16px;
  margin: 0 7% 10% 0;
  font-family: 'Lato', sans-serif;
  color: #222222;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

.text_info_bottom {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  color: #222222;
}

.text_color_feature {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  color: #eb6e6e;
}

.main {
  margin-top: 35px;
}

.catalog_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  display: block;
  position: relative;
  width: 32%;
  padding: 0 0.1%;
  margin-bottom: 32px;
}

.box:hover .catalog_top_pic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.box:hover .box_content {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.catalog_top_pic {
  width: 100%;
}

.box_content {
  display: block;
  position: absolute;
  top: 40%;
  width: 100%;
}

.text_cat {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.text_catalog_color {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  color: #eb6e6e;
  text-align: center;
}

.catalog_bottom {
  margin-bottom: 96px;
  padding: 0 0.1%;
}

.box_bottom:hover .catalog_bottom_pic {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.box_bottom:hover .box_content_bottom {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.box_bottom {
  width: 100%;
  display: block;
  position: relative;
}

.catalog_bottom_pic {
  width: 100%;
  min-height: 111px;
}

.box_content_bottom {
  position: absolute;
  top: 21%;
  width: 100%;
}

.headding {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.text_catalog {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
}

.card_box {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 32%;
  position: relative;
  margin-bottom: 30px;
}

.card_pic {
  display: block;
  text-decoration: none;
}

.card_brightness {
  width: 100%;
  min-height: 262px;
}

.text_card_box {
  padding: 25px 16px 20px;
}

.headding_card {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: 'Lato', sans-serif;
}

.item_desk {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.item_price {
  margin-top: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.card:hover {
  -webkit-box-shadow: 0 5px 8px black;
          box-shadow: 0 5px 8px black;
}

.card:hover .card_brightness {
  -webkit-filter: brightness(35%);
          filter: brightness(35%);
}

.link_box {
  display: none;
  position: absolute;
  top: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  pointer-events: none;
}

.card_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #fff;
  pointer-events: all;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.txt_card {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 10px;
}

.card:hover .link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_link:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.main_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
}

.main_bottom_link {
  text-decoration: none;
}

.headding_main_bottom {
  display: block;
  padding: 14px 38.5px;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_bottom_link:hover {
  background-color: #eb6e6e;
}

.main_bottom_link:hover .headding_main_bottom {
  color: #fff;
}

.footer {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 128px;
}

.footer_top {
  margin-top: 103px;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content_footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 360px;
  margin-bottom: 104px;
  -webkit-transition: 1s;
  transition: 1s;
}

.content_footer_nav:hover {
  -webkit-transform: rotate(360deg) skew(30deg);
          transform: rotate(360deg) skew(30deg);
}

.headding_4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 28px auto 16px;
}

.text_footer_top {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
}

.footer_middle {
  background-repeat: no-repeat;
  background-image: url(img/nature.jpg);
  background-position: bottom;
  background-size: cover;
  padding: 1% 0 3% 0;
  animation: kenburns-top 5s ease-out infinite reverse both;
}

.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_section_left {
  display: block;
  text-align: center;
  width: 33%;
}

.face {
  margin-top: 86px;
}

.text_section_left {
  margin-top: 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer_section_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 156px;
}

.headding_footer {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
  text-transform: uppercase;
}

.text_section_right {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 167.2%;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input_text {
  border-radius: 10px 0 0 10px;
  height: 49px;
  width: 256px;
}

.button-subscribe {
  border-radius: 0 10px 10px 0;
  background: #F16D7F;
  color: #fff;
  width: 100px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button-subscribe:hover {
  background: #fff;
  color: #F16D7F;
}

.footer_bottom {
  background: #222224;
  height: 79px;
}

.content_footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text_footer_bottom {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding: 30px;
  text-transform: capitalize;
}

.nav_footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 24px;
}

.fa {
  margin-right: 7px;
}

.fa-vk {
  font-size: 33px;
  color: #1e90ff;
  background-color: #000;
}

.fa-youtube {
  font-size: 33px;
  color: #fff;
  background-color: #f0001f;
  border-radius: 5px;
}

.fa-telegram {
  font-size: 33px;
  color: #fff;
  background-color: #1e90ff;
  border-radius: 5px;
}

.fa-whatsapp {
  font-size: 33px;
  color: #fff;
  background-color: #3c9e3c;
  border-radius: 5px;
}

.button_network {
  margin-right: 7px;
  width: 32px;
  text-align: center;
  padding-top: 7px;
}

.nav_top {
  background: #F8F3F4;
  min-height: 148px;
}

.top_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_content_left {
  margin-top: 59px;
}

.top_content_right {
  margin-top: 59px;
}

.text_top_content {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.link_content {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.link_content:hover {
  color: #F16D7F;
}

.main_catalog {
  margin-top: 51px;
}

.cat_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 81px;
}

.filter {
  width: 32%;
}

.filter_item {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.filter:hover .filter_item {
  color: #F16D7F;
}

.filter:hover .filter_pic {
  color: #F16D7F;
}

.ac_filter {
  background: #fff;
  width: 360px;
  padding: 13px 16px 16px 16px;
  cursor: pointer;
  z-index: 20;
}

.ac_filter[open] {
  -webkit-box-shadow: 0 0 12px 4px;
          box-shadow: 0 0 12px 4px;
  z-index: 10;
  position: absolute;
}

.fa-signal {
  margin-left: 11px;
  width: 15px;
  height: 10px;
  -webkit-transform: rotate(270deg) matrix(1, 0, 0, -1, 0, 0);
          transform: rotate(270deg) matrix(1, 0, 0, -1, 0, 0);
}

.filter_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
}

.filter_title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding: 11px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 16px;
}

.filter_title:hover {
  color: #F16D7F;
}

.filter_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 21px 5px 11px 17px;
}

.filter_right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter_right_item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.filter_right_item:hover .title {
  color: #F16D7F;
}

.filter_right_item_content {
  z-index: 20;
  width: 170px;
  padding: 13px 16px 16px 16px;
  cursor: pointer;
  position: absolute;
}

.title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.V_pic {
  width: 10.05;
  height: 5;
  padding-left: 10px;
}

.trending_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 21px 5px 16px 17px;
  -webkit-box-shadow: 0 0 12px 4px;
          box-shadow: 0 0 12px 4px;
  margin-top: 5px;
  background: #fff;
}

.size_item {
  width: 150px;
}

.size_content {
  margin-top: 5px;
  -webkit-box-shadow: 0 0 12px 4px;
          box-shadow: 0 0 12px 4px;
  width: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background-color: #fff;
}

.size_label {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  margin-bottom: 6px;
}

.lb_content {
  width: 20px;
}

.price_item {
  width: 150px;
  padding: 13px 16px 16px 16px;
}

.price_content {
  position: absolute;
  margin-top: 5px;
  -webkit-box-shadow: 0 0 12px 4px;
          box-shadow: 0 0 12px 4px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background-color: #fff;
}

.txt_price {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  margin-bottom: 6px;
}

.cards_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.main_paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 96px;
}

.page-link {
  color: #5D5D5D;
}

.page-link:hover {
  color: #F16D7F;
}

.main_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F7F7F7;
  position: relative;
}

.content_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev {
  border: 1px solid #000;
  background-color: #bcbbbb;
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.previous {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  width: 100%;
}

.next_pic {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.previos:hover .next_pic {
  background: #F16D7F;
}

.product_description {
  background-color: #fff;
  position: relative;
  margin-top: -50px;
  padding: 64px 0;
  border: 1px solid #EAEAEA;
  margin-bottom: 130px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.headding_decription {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.feature_product {
  margin-top: 12px;
  border: 3px solid #F16D7F;
  width: 63px;
  background: #F16D7F;
}

.headding_decr {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin: 12px auto 48px;
}

.text_decription {
  margin: 0 293px 32px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.price {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.feature_product_bottom {
  margin-top: 65px;
  border-bottom: 1px solid #EAEAEA;
  width: 641px;
}

.filter_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
  padding-left: 10px;
  padding-right: 10px;
}

.filter_description_product {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-right: 22px;
}

.filter_description_product:hover {
  color: #F16D7F;
}

.link_box_product {
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 48px;
  margin-bottom: 64px;
}

.card_link_product {
  text-decoration: none;
  border: 1px solid #F16D7F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_link_product:hover {
  background: #F16D7F;
}

.card_link_product:hover .txt_card_product {
  color: #fff;
}

.card_link_product:hover .basket_product {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(208deg) brightness(165%) contrast(131%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(208deg) brightness(165%) contrast(131%);
}

.basket_product {
  width: 26px;
  height: 24px;
}

.txt_card_product {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-left: 10px;
  padding-top: 10px;
}

.main_reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.content_reg_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 38%;
  padding: 0 0.1%;
  margin-right: 10%;
}

.reg_info {
  margin-top: 21px;
}

.headding_reg {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.radio_registation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
}

.radio_reg {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
}

.txt_reg {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}

.submit_reg {
  padding: 16px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #F16D7F;
  background: #F16D7F;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 167px;
}

.submit_reg:hover {
  background: #fff;
  color: #F16D7F;
}

.content_reg_right {
  max-width: 66%;
  min-height: 334px;
  padding: 0 0.1%;
}

.content_cart {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cart_basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10%;
}

.cart {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 20px;
          box-shadow: 0 0 20px;
}

.cart_item {
  max-width: 50%;
}

.header_cart_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headding_cart {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.icon_close {
  width: 18px;
  height: 18px;
}

.txt_cart_filter {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.quantity_input {
  width: 15%;
  padding-left: 5px;
  margin-left: 24px;
  border: 1px solid #eaeaea;
}

.color_txt {
  color: #F16D7F;
}

.main_cart {
  width: 50%;
}

.content_cart_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

.headding_main_cart {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart_info {
  height: 45px;
  margin-top: 21px;
}

.submit_cart_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.submit_cart {
  width: 32%;
  height: 35px;
  margin-top: 24px;
  font-family: 'Lato' sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background: #fff;
}

.submit_cart:hover {
  background: #F16D7F;
  color: #fff;
}

.total {
  margin-top: 57px;
  border: #F5F3F3;
  background: #F5F3F3;
  padding: 10%;
}

.sub_total {
  text-align: end;
  padding-right: 10px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.price_txt {
  padding-left: 10px;
}

.grand_total {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-right: 10px;
  text-align: end;
  margin-top: 12px;
}

.submit_total {
  width: 100%;
  background: #F16D7F;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 42px;
}

.submit_total:hover {
  background: #fff;
  color: #222222;
}

@media screen and (max-width: 1024px) {
  .header_content {
    min-height: 368px;
  }
  .content_header_content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .figure {
    margin-left: -140px;
    width: 100%;
  }
  .text_info {
    font-size: 38px;
    line-height: 46px;
  }
  .catalog_bottom {
    margin-bottom: 154px;
  }
  .card {
    width: 48%;
  }
  .main_bottom {
    margin-top: 5px;
  }
  .footer {
    margin-top: 65px;
  }
  .footer_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content_footer_nav {
    margin-bottom: 64px;
  }
  .footer_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .face {
    margin-top: 53px;
  }
  .footer_section_right {
    margin-top: 48px;
  }
  .cat_filters {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content_cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart_basket {
    margin: 1%;
  }
  .main_cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .content_cart_item {
    width: 50%;
  }
  .total {
    width: 50%;
    padding: 5%;
  }
}

@media screen and (max-width: 768px) {
  .nav_right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .pic_header {
    display: none;
  }
  .figure {
    display: none;
  }
  .content_header_content {
    min-height: 368px;
  }
  .info {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .box {
    width: 100%;
  }
  .catalog_bottom {
    margin-bottom: 64px;
  }
  .card {
    width: 100%;
  }
  .top_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter {
    width: 20%;
  }
  .filter_right {
    width: 100%;
  }
  .filter_item_cont {
    display: none;
  }
  .main_reg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content_reg_left {
    margin: 2%;
    max-width: 100%;
  }
  .content_reg_right {
    max-width: 100%;
    margin-top: 40px;
  }
  .main_cart {
    margin-top: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content_cart_item {
    width: 100%;
  }
  .total {
    width: 100%;
  }
  .card_brightness {
    height: 144px;
  }
  .pic_content_product {
    width: 100%;
    min-height: 374px;
  }
}
/*# sourceMappingURL=style.css.map */